<div class=" flex flex-col gap-4">
  <div mat-dialog-title class="text-lg text-texto font-semibold">
    Informacion Bancaria
  </div>

  <mat-dialog-content>
    <div class="flex flex-col gap-2 text-xs">
      <div>
        <p class="font-medium text-sm">Número de Cuenta</p>
        <span class="font-medium text-xs text-emerald-500">{{data.numCuenta}}</span>
      </div>
      <div>
        <p class="font-medium text-sm">Número de Tarjeta Digital</p>
        <span class="font-medium text-xs text-emerald-500">{{data.numTarjeta}}</span>
      </div>
      <div>
        <p class="font-medium text-sm">Cuenta CLABE</p>
        <span class="font-medium text-xs text-emerald-500">{{data.numCLABE}}</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-center">
    <button mat-flat-button [mat-dialog-close]="false" class="w-[100%] font-medium btn btn-sm">
      Cerrar
    </button>
  </mat-dialog-actions>
</div>


