<div class=" flex flex-col gap-4 h-screen mx-auto bg-fondo max-w-2xl text-center px-2 py-10 relative">
  <div class="w-full px-4 py-3 bg-white rounded-2xl flex justify-between items-center">
    <div class="avatar ">
      <div class=" w-12 rounded-full ">
        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
      </div>
    </div>
    <div class="flex items-center text-left text-lg -ml-8">
        <span>Hola
          <span class="font-semibold ">
              {{this.name}}
            </span>
        </span>
    </div>

    <button [matMenuTriggerFor]="menu" class="btn btn-circle btn-sm no-animation">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </mat-menu>
  </div>

  <div class="w-full bg-white rounded-2xl drop-shadow-lg flex justify-between gap-4 p-3">
    <label class="input input-bordered flex items-center gap-2 w-full">

      <input [formControl]="search" type="text" class="grow" placeholder="Buscar" />

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70">
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd" />
      </svg>
    </label>
  </div>
  <div class="w-full max-h-80 bg-white rounded-2xl drop-shadow-lg p-3 gap-4 overflow-y-auto ">

    <table mat-table [dataSource]="dataSource" class="w-full text-left border-gray-900">
      <!-- Columna Nombre -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let user"
            class="text-sm"> {{user.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <td mat-cell *matCellDef="let user"
            class="datos-secundarios text-subText"> {{user.lastName}} </td>
      </ng-container>

      <!-- Columna Email -->
      <ng-container matColumnDef="email">
        <td mat-cell *matCellDef="let user"
            class="datos-secundarios text-subText"> {{user.email}} </td>
      </ng-container>


      <!-- Columna Acciones -->
      <ng-container matColumnDef="actions">
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="menu"  aria-hidden="false">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="text-xs">
            <button mat-menu-item (click)="editarUsuario(user.id)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="crearCuenta(user.id, user.userName)">
              <mat-icon>add_card</mat-icon>
              <span>Crear Cuenta</span>
            </button>
            <button mat-menu-item (click)="eliminarUsuario(user.id)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [length]="total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Seleccionar página de usuarios">
    </mat-paginator>

  </div>

  <button (click)="crearUsuario()"
          class="btn btn-circle absolute bottom-2 right-2 fondo-gradiente" >
    <mat-icon class="text-white font-bold">
      add
    </mat-icon>
  </button>
</div>
