
  <div class="flex bg-white justify-around items-center max-w-lg h-16 relative rounded-t-xl">
    <mat-icon class="icon-size">
      home
    </mat-icon>
    <mat-icon class="icon-size">
      compare_arrows
    </mat-icon>
    <div class="principal fondo-gradiente flex justify-center items-center rotate-45 -mt-6 rounded-xl">
      <mat-icon class="icon-size blanco -rotate-45">
        grid_view
      </mat-icon>
    </div>
    <mat-icon class="icon-size">
      account_circle
    </mat-icon>
    <mat-icon class="icon-size">
      question_mark
    </mat-icon>
  </div>

