
<div class="flex bg-white justify-around items-center max-w-2xl h-16 rounded-t-xl">
  <mat-icon (click)="mostrarTransferencia()" class="icon-size">
    payments
  </mat-icon>
  <mat-icon class="icon-size">
    compare_arrows
  </mat-icon>
  <div (click)="mostrarDatosBancarios()" class="principal fondo-gradiente flex justify-center items-center rotate-45 -mt-6 rounded-xl">
    <mat-icon class="icon-size blanco -rotate-45">
      grid_view
    </mat-icon>
  </div>
  <mat-icon (click)="mostrarDatosUsuario()"
    class="icon-size">
    account_circle
  </mat-icon>
  <mat-icon (click)="mostrarAtencionClientes()" class="icon-size">
    question_mark
  </mat-icon>
</div>


