.icon-size {
  font-size: 30px;
  height: 30px;
  width: 30px;
}
.principal{
  height: 50px;
  width:50px;


}

.fondo-gradiente{
  @apply bg-gradient-to-r from-emerald-500 to-emerald-900
}

mat-icon{
  @apply text-icon text-men-icon
}

.blanco{
  @apply text-white
}



