<div class="w-full p-4 bg-white">
  <div class="flex justify-around items-center">
    <div class="text-sm flex flex-col items-center gap-2">

      <mat-icon color="primary" class="size-[40px]">
        home
      </mat-icon>
      <span>retiro</span>
    </div>
    <div class="text-sm flex flex-col items-center gap-2">
      <mat-icon color="primary" class="size-[40px]">
        paid
      </mat-icon>
      <span>retiro</span>
    </div>
    <div class="text-sm flex flex-col items-center gap-2">
      <mat-icon class="size-[40px]">
        paid
      </mat-icon>
      <span>retiro</span>
    </div>
    <div class="text-sm flex flex-col items-center gap-2">
      <mat-icon class="size-[40px]">
        paid
      </mat-icon>
      <span>retiro</span>
    </div>
    <div class="text-sm flex flex-col items-center gap-2">
      <mat-icon class="size-[40px]">
        paid
      </mat-icon>
      <span>retiro</span>
    </div>
  </div>
</div>
