<div class="flex flex-col gap-4 justify-center text-xs">
  <div mat-dialog-title class="text-lg font-semibold text-texto">
    {{transferActive ? 'Tranferencias a Otros bancos':'Comprobante de Transferencia'}}

  </div>


  <!--  Alertas -->
  <!-- Alerta de éxito -->
  <div *ngIf="showAlertSuccess" role="alert" class="alert alert-success text-white p-2">
    <span>Transferencia exitosa</span>
  </div>

  <!-- Alerta de error -->
  <div *ngIf="showAlertError" role="alert" class="alert alert-error text-white p-2">
    <span>{{errorPeticion}}</span>
  </div>

  <!-- Alerta de advertencia (formulario inválido) -->
  <div *ngIf="showAlertWarning" role="alert" class="alert alert-warning text-white p-2" >
    <span>{{errorPeticion}}</span>
  </div>

  <mat-dialog-content *ngIf="transferActive" >
    <form [formGroup]="form">
      <div class="flex flex-col gap-6 text-xs my-4">



        <label class="form-control w-full max-w-xs gap-0">
          <select class="select select-bordered" formControlName="account" (change)="onCuentaSeleccionada($event)">
            <option disabled selected class="text-subText" value="Seleecione una cuenta">Seleecione una cuenta</option>
            <ng-container *ngFor="let c of listaCuentas">
              <option class="text-subText"  [value]="c.id" >{{c.accountNumber}}</option>
            </ng-container>
          </select>
          <!--          <div class="label p-0.5" *ngIf="cuentaSelecccionada">-->
          <!--            <span class="label-text-alt text-xs font-light">{{cuentaSelecccionada.balance | currency}}</span>-->
          <!--          </div>-->
        </label>


        <label class="input input-bordered flex items-center gap-4">
          <mat-icon class="opacity-50 pr-6">
            attach_money
          </mat-icon>
          <input formControlName="amount" type="number" class="grow" placeholder="Monto" />
        </label>
        <div>
          <label class="input input-bordered flex items-center gap-4">
            <mat-icon class="opacity-50 pr-6">
              account_balance
            </mat-icon>
            <input formControlName="destAccountNumber" [formControl]="ctrlNumberLength" type="number" class="grow" placeholder="Cuenta / CLABE" />
          </label>
          <div class="text-xs text-warning mt-1 ml-4 mb-0" *ngIf="ctrlNumberLength.touched && ctrlNumberLength.invalid">
            <div *ngIf="ctrlNumberLength.hasError('required')">
              Valor Requerido
            </div>
            <!-- Error de longitud (12 o 18 dígitos) -->
            <div *ngIf="ctrlNumberLength.hasError('accountLength')">
              Ingrese un numero de 11 o 18 digitos
            </div>
          </div>
        </div>
        <label class="input input-bordered flex items-center gap-4">
          <mat-icon class="opacity-50 pr-6">
            person
          </mat-icon>
          <input formControlName="destAccountHolderName" type="text" class="grow" placeholder="Beneficiario" />
        </label>
        <label class="input input-bordered flex items-center gap-4">
          <mat-icon class="opacity-50 pr-6">
            edit
          </mat-icon>
          <input formControlName="description" type="text" class="grow" placeholder="Concepto" />
        </label>
      </div>
    </form>
  </mat-dialog-content>

  <div *ngIf="transferActive" class="flex flex-col gap-1">
    <mat-dialog-actions class="flex justify-center gap-2">
      <button  mat-flat-button (click)="generarToken()" class="btn-sm w-[100%] font-medium" color="primary">
        Realizar Transferencia
      </button>
    </mat-dialog-actions>
    <mat-dialog-actions class="flex justify-center gap-2">
      <button mat-flat-button [matDialogClose]="false" class="btn-sm w-[100%] font-medium" color="accent">
        Cerrar
      </button>
    </mat-dialog-actions>
  </div>


  <mat-dialog-actions *ngIf="!transferActive && pdfUrl">
    <button (click)="abrirPDF()" mat-flat-button color="primary" >Abrir comprobante de transferencia</button>
  </mat-dialog-actions>
  <mat-dialog-actions *ngIf="!transferActive && pdfUrl">
    <button mat-flat-button [matDialogClose]="false" class="btn-sm w-[100%] font-medium" color="accent">
      Cerrar
    </button>
  </mat-dialog-actions>
</div>
