<div class="gap-4" >
  <div mat-dialog-title class="text-lg font-semibold text-texto">
    {{data.titulo}}
  </div>

  <mat-dialog-content>
    <div class="flex flex-col gap-2 text-xs">
      <p class="font-medium text-xs text-subText">
        {{data.contenido}}
      </p>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions class="flex justify-center">
    <button mat-flat-button color="primary" class="w-[100%] text-white btn btn-sm font-medium">
      Soporte
    </button>
  </mat-dialog-actions>

</div>
