<div class="flex flex-col gap-4">
  <div mat-dialog-title class="text-lg font-bold text-texto">
    Datos de Movimiento
  </div>
  <mat-dialog-content>
    <div class="flex flex-col gap-2 text-xs">
      <div>
        <p class="font-medium text-sm ">Monto</p>
        <span class="font-medium text-xs text-subText">{{data.monto | currency:'USD': 'symbol'}}</span>
      </div>
      <div>
        <p class="font-medium text-sm ">Beneficiario / Lugar</p>
        <span class="font-medium text-xs text-subText">{{data.lugar}}</span>
      </div>
      <div>
        <p class="font-medium text-sm ">Cuenta</p>
        <span class="font-medium text-xs text-subText">{{data.numeroCuenta}}</span>
      </div>
      <div>
        <p class="font-medium text-sm ">Fecha</p>
        <span class="font-medium text-xs text-subText">{{data.fechaHora | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
      <div>
        <p class="font-medium text-sm ">Satatus</p>
        <span class="font-medium text-xs text-subText">{{data.status}}</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" class="">
      Cerrar
    </button>
  </mat-dialog-actions>
</div>
