<div class="max-w-2xl h-screen p-10 flex m-auto justify-center">
  <div class="w-full h-full flex flex-col gap-8 justify-center">
    <div class="text-4xl text-pretty text-center">
      <p>Ingresar a  <span class="font-bold">Banca en Línea</span></p>
    </div>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label class="ml-2">Usuario</label>
        <input [formControl]="ctrlEmailUser" class="input" placeholder="Usuario">
        <div *ngIf="ctrlEmailUser.touched && ctrlEmailUser.invalid"
             class="error">
          <label *ngIf="ctrlEmailUser.hasError('required')">
            Valor Requerido
          </label>
          <label *ngIf="ctrlEmailUser.hasError('email')">
            Correo no valido
          </label>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <label class="ml-2">Contraseña</label>
        <input [formControl]="ctrlPasswordUser"
               type="password"
               class="input"
               placeholder="Contraseña">
        <div *ngIf="ctrlPasswordUser.touched && ctrlPasswordUser.invalid"
             class="error">
          <label *ngIf="ctrlPasswordUser.hasError('required')">
            Valor Requerido
          </label>
        </div>
      </div>
    </div>
    <div class="text-right text-xs ">
      <p>¿Olvidaste tu contraseña? <span class="font-semibold text-warning">Recuperala</span></p>
    </div>
    <div class="flex flex-col gap-4 px-10">
      <button class="bg-gradient-to-r from-emerald-500 to-emerald-900">ENTRAR A LA BANCA</button>
      <button class="bg-accent text-secondary">INGRESAR CON FACE ID</button>
    </div>

    <div class="flex flex-col items-center text-xs">
      <p>¿No tienes cuenta con nosotros?</p>
      <span class="font-semibold text-warning">Unete a nosotros</span>
    </div>
  </div>
</div>
