<div class="gap-4">
  <p mat-dialog-title class="text-lg font-semibold text-texto text-center">
    Editar Usuario
  </p>
  <!-- Alerta de éxito -->
  <div *ngIf="showAlertSuccess" role="alert" class="alert alert-success text-white p-2 ">
    <span>Usuario Editado con Exito</span>
  </div>

  <!-- Alerta de error -->
  <div *ngIf="showAlertError" role="alert" class="alert alert-error text-white p-2">
    <span>Error! al editar Usuario</span>
  </div>

  <!-- Alerta de advertencia (formulario inválido) -->
  <div *ngIf="showAlertWarning" role="alert" class="alert alert-warning text-white p-2">
    <span>Error Desconocido Llame a Soporte</span>
  </div>


  <mat-dialog-content>
    <form [formGroup]="form" >
      <div class="flex flex-col gap-4 text-xs my-2">
        <label class="input input-bordered flex items-center gap-2">
          <mat-icon class="opacity-50 pr-6">
            person
          </mat-icon>
          <input formControlName="name"
                 type="text" class="grow" placeholder="Nombre Usuario">
        </label>
        <div *ngIf="ctrlName.touched && ctrlName.invalid" class="error">
          <label *ngIf="ctrlName.hasError('required')"
                 class="label-text-alt text-warning">
            Valor Requerido
          </label>
        </div>

        <label class="input input-bordered flex items-center gap-2">
          <mat-icon class="opacity-50 pr-6">
            person
          </mat-icon>
          <input formControlName="lastName"
                 type="text" class="grow" placeholder="Nombre Usuario">
        </label>
        <div *ngIf="ctrlLastName.touched && ctrlLastName.invalid" class="error">
          <label *ngIf="ctrlLastName.hasError('required')"
                 class="label-text-alt text-warning">
            Valor Requerido
          </label>
        </div>

      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="editarUsuario()"
      class="w-full text-white font-medium btn btn-sm fondo-gradiente">
      Editar Usuario
    </button>
  </mat-dialog-actions>

</div>
